<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>VueJS</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>

    <div id="app">
      {{ message }}
      <input v-model="message"/>
    </div>

    <div id="app2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds...
      </span>
      <br/>
      <span>This will change: {{ msg }}</span>
      <br/>
      <span v-once>This will never change: {{ msg }}</span>
      <br/>
      <span>This will change: {{ msg }}</span>
      <br/>
      <span>This will also never change: {{ frozenObj.msg }}</span>
    </div>

    <div id="app3">
      <span v-if="seen">
        Now you see me
      </span>
    </div>

    <div id="app4">
      <ul>
        <!--  It is recommended to provide a key with v-for whenever possible, unless the iterated
              DOM content is simple, or you are intentionally relying on the default behavior for
              performance gains. https://vuejs.org/v2/guide/list.html -->
        <li v-for="(todo, index) in todos" :key="todo.id">
          {{ parentData }} - {{ index }} - {{ todo.text }}
        </li>

        <!--  When iterating over an object, the order is based on the key enumeration order
              of Object.keys(), which is not guaranteed to be consistent across JavaScript 
              engine implementations. -->
        <li v-for="(value, key, index) in someObject">
          {{ index }} - {{ key }}: {{ value }}
        </li>
      </ul>
    </div>

    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse</button>
    </div>

    <div id="app7">
      <ol>
        <todo-item
          v-for="item in todoList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
      <p>{{ someObject.favoriteColor }}</p>
      <p>{{ someObject.title }}</p>
      <div>
        <span v-for="n in 10">
          {{ n }}
        </span>
      </div>
    </div>


    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })

      var frozenObj = {
        msg: 'also frozen'
      }
      Object.freeze(frozenObj)

      var app2 = new Vue({
        el: '#app2',
        data: {
          message: 'You loaded this data on ' + new Date().toLocaleString(),
          msg: 'frozen',
          frozenObj: frozenObj
        }
      })

      var app3 = new Vue({
        el: '#app3',
        data: {
          seen: true
        }
      })

      var app4 = new Vue({
        el: '#app4',
        data: {
          parentData: "some other data in parent scope",
          todos: [
            { id: 100, text: "cook breakfast" },
            { id: 200, text: "clean kitchen" },
            { id: 300, text: "give Addison bath" },
            { id: 400, text: "package and freeze chicken" }
          ],
          someObject: {
            firstName: 'Jon',
            lastName: 'Snow'
          }
        }
      })

      var app5 = new Vue({
        el: '#app5',
        data: {
          message: "Hello World!"
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })

      Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })

      var app7 = new Vue({
        el: '#app7',
        data: {
          // these objects intentionally have no id, even though the key is bound to id
          todoList: [
            { text: "cook breakfast" },
            { text: "clean kitchen" },
            { text: "give Addison bath" },
            { text: "package and freeze chicken" }
          ],
          someObject: {
            name: "Jon"
          }
        }
      })

      //
      // array change detection caveats
      //
      // Due to limitations in JavaScript, Vue cannot detect the following changes to an array:
      app7.todoList[0] = { text: "this won't work" }
      //app7.todoList.length = 10  (this will cause an error in the console)

      // instead, do this:
      Vue.set(app7.todoList, 0, { text: "this will work"})
      app7.$set(app7.todoList, 1, { text: "this will also work"})
      app7.todoList.splice(10)

      //
      // object change detection caveats
      //
      // this is NOT reactive:
      app7.someObject.favoriteColor = "this won't work"
      // this is reactive:
      app7.$set(app7.someObject, "favoriteColor", "black")  // comment out the non-reactive line above to make this work
      // or, to add multiple reactive properties:
      app7.someObject = Object.assign({}, app7.someObject, {
        age: 27,
        title: "Lord Commander"
      })
    </script>

  </body>
</html>

