[Unit]
Description=Lock screen before suspend
Before=sleep.target

[Service]
User=bob
Type=simple
Environment=DISPLAY=:0
ExecStart=/etc/systemd/system/i3lockscreen.sh

[Install]
WantedBy=sleep.target

