<div class="note-wrapper">
  <div class="note-content">
    <div class="notes-header">
      <h1 title="Notes">Notes</h1>
    </div>

    <input ng-model="search.$"/> <!-- .$ lets us filter on any properties of notes -->

    <div class="note-wrapper">
      <a class="card-notes"
        ng-repeat="note in notes | filter: {category: {name: activeCategory }} | filter:search"
        ng-href="#/notes/{{note.id}}">
        <nw-card header="note.title" body="note.description"></nw-card>
        <button class="btn" ng-click="tweetThatNote(note.description)">Tweet It!</button>
      </a>
    </div>

    <nw-category-select active-category="activeCategory" notes="notes"></nw-category-select>

  </div>
</div>
